/* 清楚默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font: normal 400 16px/1.5 "Microsoft YaHei", "MicrosoftYaHei", "Heiti SC",
    tahoma, arial, "Hiragino Sans GB", "Arial Negreta", "Arial Normal",
    "Arial" "\5B8B\4F53", sans-serif;
  /*根据网站实际背景来设*/
  /* background-color: #f2f2f2;  */
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; 
  font-size: inherit;
} */

/*根据网站整体风格，确定颜色*/
/*超链接有虚线轮廓，用 outline: none 去除。*/
/* a,
a:hover {
  text-decoration: none;
  color: #333333;
  outline: none;
} */

ul li,
ol li {
  list-style: none;
}
/* td,
th {
  color: #262626;
} */
strong,
b {
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
del {
  text-decoration: none;
}

img {
  vertical-align: middle;
}
img,
fieldset {
  border: 0;
}

table {
  /* 细线边框属性   collapse合并*/
  border-collapse: collapse;
}

/* 清除浮动 */
.clear {
  clear: both;
  font-size: 1px;
  width: 1px;
  visibility: hidden;
  margin-top: 0px !important;
  *margin-top: -1px;
  line-height: 0;
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
